```
# Environment
.env
.env.local
*.env.*

# Logs
*.log

# Dependencies
node_modules/

# Build artifacts
dist/
build/
target/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.venv.bak/
pip-log.txt
pip-delete-this-directory.txt

# Compiled
*.class
*.o
*.so
*.dll
*.exe
*.out
*.a
*.obj

# Temp files
*.tmp
*.swp
*.swo

# Coverage
coverage/
htmlcov/
.coverage

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Gradle
.gradle/

# VSCode
.vscode/

# IntelliJ IDEA
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Compressed
*.zip
*.gz
*.tar
*.tgz
*.bz2
*.xz
*.7z
*.rar
*.zst
*.lz4
*.lzh
*.cab
*.arj
*.rpm
*.deb
*.Z
*.lz
*.lzo
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst
```